@import 'jeet'

// Variables
textColor = #979797
linkColor = #00AFEF
detailColor = #BFBFBF
darkColor = #222222

siteWidth = 1140px
// edit()

body
  background #EEEEEE
  font-size 14px
  font-family Arial

*
  margin 0
  padding 0
  transition 0.2s
  box-sizing border-box


// Global
// --------------------
.wrapper
  center(siteWidth)
  +mobile()
    padding 0 20px
  +tablet()
    padding 0 20px

.bg-color
  background linkColor
  padding 4em auto
  +mobile()
    col(1/1)

footer
  margin 4em auto 2em auto
  padding-top 20px
  border-top 2px solid #ccc


  p
    col(10/12)
    +mobile()
      col(1/1)
      text-align center
      margin 20px 0 10px 0

  a
    col(2/12)
    text-align right
    +mobile()
      col(1/1)
      text-align center


// Header
// --------------------
header

  #top-header
    col(1/1)
    font-size 12px
    text-transform uppercase
    margin 1em auto
    padding-bottom 1em
    border-bottom 1px solid detailColor
    +tablet()
      col(1/1)

    p
      col(10/12)
      color textColor
      +mobile()
        col(1/1)
        text-align center
      +tablet()
        col(9/12)

    a
      col(2/12)
      text-align right
      color textColor
      text-decoration none
      background url('../images/icon-phone.png') 25px center no-repeat
      +mobile()
        col(1/1)
        text-align center
        background none
        margin-top 5px
      +tablet()
        col(3/12)
        text-align right

  #logo
    col(2/12)
    +mobile()
      col(1/1)
      text-align center
    +tablet()
      col(3/12)
      text-align center
      img
        width 100%
        height auto

  nav
    text-align right !important
    col(10/12)
    margin-top 40px
    +mobile()
      display none
    +tablet()
      col(9/12)
      text-align center !important


    ul
      float right
      z-index 9999999
    a
      margin 0 8px
      padding 10px 0
      display inline-block
      text-decoration none
      text-transform uppercase
      border-bottom 2px solid transparent
      color textColor
      +tablet()
        font-size 13px
        margin 0 0 0 10px

      &:hover
        border-bottom 2px solid linkColor

    .active
      border-bottom 2px solid linkColor


nav ul li {float left;display:inline;}
nav ul li a {display:block;color:#444;}
nav ul li ul {position:absolute;width:220px; display:none; background: white;}
nav ul li ul li {width:100%;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;text-align: left;}
nav ul li ul li:hover a {background:#F7F7F7;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}
nav ul li ul
  +mobile()
    background #222
.menuSlickNav
  col(1/1)
  +desktop()
    display none
  .slicknav_menu
    background #222
    margin 10px 0 20px 0
  +tablet()
    display none


  .slicknav_btn
    float left

  .slicknav_hidden
    background #222

  .slicknav_nav
    .slicknav_arrow
      display none

    li
      display block
      float none

      a
          padding 10px 0
          &:hover
            background #222
            color linkColor

      ul
        position relative
        padding 0 0 0 20px
        margin 0 0 0 5px
        border-left 2px solid linkColor
        display block !important
// Home
// --------------------
.home-highlight
  margin 2em auto 3em auto
  +mobile()
    width auto
    height auto
    col(1/1)

  img
    width 100%
    height auto

.home-business
  color #fff
  display block

  h2
    col(1/1)
    text-transform uppercase
    text-align center
    margin 1em auto
    font-weight normal
    text-shadow 1px 2px 4px rgba(0,0,0,0.35)

  // div

  section
    col(1/4)
    margin-bottom 2em
    +mobile()
      col(1/2,cycle:2, gutter:7px)
    +tablet()
      col(1/2, cycle:2)

    a
      color #fff
      text-shadow 1px 2px 4px rgba(0,0,0,0.35)
      position relative
      col(1/1)
      text-align center

      h1
        font-size 20px
        width 100%
        align(both)
        padding 0 20px
        text-transform uppercase
        text-shadow 1px 1px 2px #222
        +mobile()
          font-size 15px
          padding 0

      img
        width 100%


// Inner pages
// --------------------
header.innerHeader
  margin 20px 0 40px 0
  padding 30px 0
  font-weight 300
  background linkColor
  text-shadow 1px 1px 3px #222

  +mobile()
    text-align left

  h1, h3
    font-weight normal
    color #fff

section.content

  .smallfont
    font-size 10px
    margin-bottom 20px

  .fullText
    font-size 20px

  .subtitle
    margin-bottom 20px

  img
    max-width 100%
    width 100%
    height auto

  p
    margin-bottom 20px
    line-height 1.5em
    font-size 16px
    &:last-child
      margin-bottom 0

  ul
    padding 0 0 0 15px

    li
      list-style square
      margin-bottom 10px
      line-height 1.5em
      font-size 16px
      &:last-child
        margin-bottom 0

  .leftCol
    col(8/12)

  .rightCol
    col(4/12)

  .fullCol
    col(1/1)

  .halfCol
    col(6/12)
    +mobile()
      col(1/1)

  .thirdCol
    col(4/12)

  .fourthCol
    col(3/12)



.collapsive
  h2
    a
      text-decoration none
      color #fff
      font-size 16px
      padding 10px 5px
      background linkColor
      col(1/1)
      &:hover
        background darken(linkColor, 20%)

  div
    margin-top 10px
    col(1/1)
    div
      background white
      padding 10px

    p
      margin-bottom 20px
      font-size 14px

    .leftCol
      col(4/12)
      +mobile()
        col(1/1)
        margin-bottom 10px
      col(4/12)
      +mobile()
        col(1/1)

    .rightCol
      col(8/12)
      +mobile()
        col(1/1)

    .rightCol
      col(8/12)
      +mobile()
        col(1/1)


// Parceiros
// --------------------
#parceiros
  span
    col(3/12, cycle:4)
    margin-bottom 20px
    text-align center
    +mobile()
      col(1/2, cycle:2)

  img
    max-width 80%


// Font scheme
// --------------------
.font-h1
  font-size 2em


.contato
  ul
    padding 10px !important
    background white !important
    li
      list-style none !important
      margin 0 !important
  span
    col(1/1)


    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea
      col(1/1)
      margin 5px 0 10px 0
      border 0
      padding 5px 8px

  input[type="submit"]
    float right
    padding 5px 10px
    border 0
    background #222
    border-radius 3px
    text-transform uppercase
    color white
    margin-bottom 10px

iframe
  width 100%
  height 550px

hr
  margin 20px 0
  color #ccc

.owl-controls

  .owl-pagination
    col(1/1)
    text-align center
    margin-top 20px
    position relative

    div
      width 15px
      height 15px
      background #ccc !important
      display inline-block
      margin 0 5px
      border-radius 400px

    .active
      background linkColor !important
